# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
# Secrets and credentials
firebase.config.json
**/firebase.config.json
**/*.key
**/*secret*
**/*credential*
sls-elasticsearch/serverless.yml
sls-lifescape/oneall.js
